In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
df = pd.read_csv('/content/kc_final.csv')

In [12]:
df.head()

   Unnamed: 0          id        date  ...     long  sqft_living15  sqft_lot15
0           0  7129300520  2014-10-13  ... -122.257           1340        5650
1           1  6414100192  2014-12-09  ... -122.319           1690        7639
2           2  5631500400  2015-02-25  ... -122.233           2720        8062
3           3  2487200875  2014-12-09  ... -122.393           1360        5000
4           4  1954400510  2015-02-18  ... -122.045           1800        7503

[5 rows x 22 columns]

In [15]:
df['price']

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [16]:
df['price_bath'] = df['price'] * 33.32

In [26]:
print('Mean: ', round(df['price_bath'].mean(), 2), '\n', 'Median: ', df['price_bath'].median(), sep='')

Mean: 17995736.88
Median: 14994000.0

In [27]:
df['price_bath'].describe()

count    2.161300e+04
mean     1.799574e+07
std      1.223268e+07
min      2.499000e+06
25%      1.072737e+07
50%      1.499400e+07
75%      2.149140e+07
max      2.565640e+08
Name: price_bath, dtype: float64